<div class="dose-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key %>)">
  <div class="logo"><b>C<span>i</span>t<span>y</span>C<span>oc</span>k<span>ta</span><span>il</span>s</b></div>
</div>
<div class="container d-flex m-3" style="justify-content: space-between;">
  <div class="row ml-5">
    <div class="col-6">
      <h2><% @cocktail.doses.each do |dose| %></h2>
        <h2><%= dose.ingredient.name %></h2>
        <div>
        </div>
        <h2><%= dose.description %></h2>
        <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "delete it?" }%>
      <% end %>
      <%= link_to "add doses", new_cocktail_dose_path(@cocktail)  %>
      <%= render 'form_add_dose' %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card-create-dose">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient, required: false, collection: Ingredient.where.not(id: @cocktail.ingredients).order(name: :asc) %>
          <%= f.input :description, required: false %>
          <%= f.submit class: 'btn btn-success mb-3'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
