<div class="dose-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @cocktail.photo.key %>)">
  <div class="logo"><b>C<span>i</span>t<span>y</span>C<span>oc</span>k<span>ta</span><span>il</span>s</b></div>
</div>
<div class="container d-flex justify-content-center">
  <div class="card m-3" style="width: 18rem;">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: Ingredient.where.not(id: @cocktail.ingredients).order(name: :asc) %>
      <%= f.input :description %>
      <%= f.submit class: 'btn btn-success mb-3' %>
    <% end %>
    <%= link_to cocktails_path do %>
      <i class="fas fa-undo" style="primary"></i> All cocktails
    <% end %>
  </div>
</div>
