<div class="container d-flex justify-content-center">
  <div class="card m-3" style="width: 18rem;">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.submit class: 'btn btn-success mb-3' %>
      <% end %>
      <%= link_to cocktails_path do %>
      <i class="fas fa-undo" style="primary"></i> All cocktails
      <% end %>
  </div>
</div>